body{
    min-height: 100vh;
}
#hero1{
    height: 27rem;
    max-height: 90vh;
    width: 100%;
    padding: 1rem;
    background-color: rgb(197, 197, 197);
    background-image: url(/images/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#sec1{
    padding:3rem;
    display: flex;
    justify-content: center;
    background-image:url(/images/bk.png);
}