body {
    min-height: 100vh;
}
#title{
    text-shadow: 0px 8px 13px black;
}
#hero {
    height: 27rem;
    max-height: 90vh;
    width: 100%;
    padding: 1rem;
    background-color: rgb(197, 197, 197);
    background-image: url(/images/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}

#sec {
    display: block;
}

#sec1 {
    padding: 2rem;
}

#sec2 {
    padding: 2rem;
}

#cards {
    width: 100%;
    flex-flow: wrap;
}

.card {
    width: 100%;
    padding: 3rem 2rem;
    margin: 1rem;
    background-color: var(--tertiary);
    border-radius: 0.4rem;
    max-width: 20rem;
}