<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script type="text/javascript" src="components.js"></script>
  <title>Account - Sen House of Children</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
</head>

<body>
  <x-navbar active="/account" position="fixed"></x-navbar>
  <div id="bdy">
    <div id="pannel">
      <div>
        <div class="ink-primary base-light size-l"><%= name %></div>
        <div class="ink-grey base-light size-xs"><%= enroll %></div>
      </div>
      <div id="logout" class="center">
        <div id="b-logout" class="button grey rounded">Logout</div>
      </div>
    </div>
    <div id="cards" class="center" data-aos="fade-up">
      <div class="card center-col" id="b-fees">
        <img class="icon size-xxl" src="/icons/fees.png" />
        <div class="ink-primary size-m base-semilight" style="padding-top:0.6rem">Fees</div>
      </div>
      <div class="card center-col" id="b-notice">
        <img class="icon size-xxl" src="/icons/notice.svg" />
        <div class="ink-primary size-m base-semilight" style="padding-top:0.6rem">Notice board</div>
      </div>
    </div>

  </div>
  <x-footer></x-footer>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script>
  document.getElementById("b-fees").addEventListener("click", function () {
    window.location.href = "/payfees";
  })
  document.getElementById("b-notice").addEventListener("click", function () {
    window.location.href = "/notice";
  })
  document.getElementById("b-logout").addEventListener("click", function () {
    window.location.href = "/_logout";
  })
</script>

</html>
<style>
  #bdy {
    min-height: 100vh;
    width: 100%;
    background-image: url(/images/bk.png);
  }

  #pannel {
    padding: 1rem;
    padding-top: 4rem;
    background-color: var(--tertiary);
    display: grid;
    grid-template-columns: auto 5rem;
  }

  #cards {
    width: 100%;
    flex-flow: wrap;
    padding-top: 2rem;
  }

  .card {
    width: 100%;
    padding: 3rem 2rem;
    margin: 1rem;
    background-color: var(--tertiary);
    border-radius: 0.6rem;
    max-width: 20rem;
    cursor: pointer;
  }

  .card:hover {
    opacity: 0.9;
  }

  @media(min-width: 700px) {
    #pannel {
      grid-template-columns: auto 7rem;
    }
  }
</style>