<!doctype html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166351312-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-166351312-1');
    </script>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script type="text/javascript" src="/components.js"></script>
  <title>Account - Sen House of Children</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
</head>

<body>
  <x-navbar active="/account"></x-navbar>
  <div id="bdy">
    <%- include('pannel', {name,enroll,cls}); %>
    <div id="cards" class="center" data-aos="fade-up">
      <div class="card center-col" id="b-fees">
        <img class="icon size-xxl" src="/icons/fees.png" />
        <div class="ink-primary size-m base-semilight" style="padding-top:0.6rem">Fees</div>
      </div>
      <div class="card center-col" id="b-notice">
        <img class="icon size-xxl" src="/icons/notice.svg" />
        <div class="ink-primary size-m base-semilight" style="padding-top:0.6rem">Notice board</div>
      </div>
    </div>

  </div>
  <x-footer></x-footer>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script>
  document.getElementById("b-fees").addEventListener("click", function () {
    window.location.href = "/fees";
  })
  document.getElementById("b-notice").addEventListener("click", function () {
    window.location.href = "/notice";
  })
</script>

</html>
<style>
  #bdy {
    min-height: 85vh;
    width: 100%;
  }

  #cards {
    width: 100%;
    flex-flow: wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .card {
    width: 100%;
    padding: 3rem 2rem;
    margin: 1rem;
    background-color: var(--tertiary);
    border-radius: 0.6rem;
    max-width: 20rem;
    cursor: pointer;
  }

  .card:hover {
    opacity: 0.9;
  }
</style>