<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166351312-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-166351312-1');
    </script>
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/components.js"></script>
  <title>Payment Status - Sen House of Children</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
</head>

<body>
  <x-navbar active="/fees" position="fixed"></x-navbar>
  <div id="bdy">
    <%- include('pannel', {name,enroll,cls}); %>
    <br/>
    <br/>
  <div class="container center-col">
   <div class="ink-primary size-m base-semiight"><%= title %></div>
   <div class="ink-green size-s base-regular">₹ <%= amount %></div>
   <br/>
   <div class="ink-blue size-xs base-semiight"><%= orderId %></div>
   <br/>
   <br/>
 <div class="center"><a id="done" href="/fees" class="button rounded">Done</a></div>
  </div>
  <br/>
  </div>
  <x-footer></x-footer>
</body>
</html>
<style>
  #bdy {
    min-height: 85vh;
    width: 100%;
  }
</style>