<!DOCTYPE html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166351312-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-166351312-1');
    </script>
	<meta charset="UTF-8">
    <title>🎃</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<link rel="stylesheet" href="/common.css" type="text/css">
    <script type="text/javascript" src="components.js"></script>
</head>
<body>
    <br/>
    <br/>
    <div class="center ink-primary size-l base-semibold" id="hero">Something went wrong</div>
    <br/>
	<div class="callout red"><%= message %></div>
</body>

</html>
<style>
    body{
        min-height: 100vh;
        padding:1rem;
    }
    #hero{
        font-size: 2.5rem;
    }
</style>