<% if(cls=='Lower'||cls=='Upper'){
    cls+=' Nursery';
} %>
<div id="pannel">
    <div>
        <div class="ink-primary base-semilight size-l"><%= name %></div>
        <div class="ink-secondary base-light size-xs">&nbsp;<%= cls %>&nbsp;&nbsp;<%= enroll %></div>
    </div>
    <div id="logout" class="center">
        <div id="b-logout" class="button bg ink-grey rounded">Logout</div>
    </div>
</div>

<style>
    #pannel {
        padding: 1rem;
        padding-top: 4rem;
        background:linear-gradient(45deg,#e6e6fa,#e6f7fa);
        display: grid;
        grid-template-columns: auto 5rem;
    }

    @media(min-width: 700px) {
        #pannel {
            grid-template-columns: auto 7rem;
        }
    }

    [data-theme="dark"] #pannel{
        background:linear-gradient(45deg,#5a007e,#00459e);
    }
</style>
<script>
    document.getElementById("b-logout").addEventListener("click", function () {
        window.location.href = "/_logout";
    })
</script>